
.container
{
	margin-top: -5px;
}
#form1
{
	margin-top: 5px;
}
#bEnviar
{
	background-color: silver;
}

@media(min-width: 600px)
{
  	#form1
  	{
      	width: 50%;height: 20px;

  	}
  
  
 
}
@media(max-height: 600px)
{
		#form1
  	{
      	

  	}

}